@keyframes expand {
    0% {left: 0px; top: 0px;}
    100% {left: 0px; top: 100px;}
}

#mainBod {
    animation-name: none;
    animation-duration: 1s;
    position: relative;
    animation-fill-mode: forwards;
}

#navLinks {
    z-index: -1;
    grid-row: 1;
}

