#bodyWrapper {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 10px;
    

    font-family: 'Open Sans', sans-serif;


}

#chickfilalogo {
    grid-column: 1/2;
    grid-row: 1;
    z-index: 1;
}

#navbar {
    grid-column: 4/6;
    grid-row: 1;
    z-index: 1;
    overflow: hidden;
    position: relative;
}


#bannerImg {
    grid-column: 1/6;
    grid-row: 1/8;
    z-index: 0;
}

#image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#strategy {
    grid-column: 1/6;
    grid-row: 9;

}

#mileStones {
    grid-column: 1/6;
    grid-row: 10;
}

#footer {
    grid-column: 1/6;
    grid-row: 11;
    background: grey;
}

#footer > p {
    text-align: center;
    color: white;
}

#stratList {
    list-style-image: url()
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #4CAF50;
    color: white;
  }